* {
  padding: 0px;
  margin: 0px;
  font-size: 14px;
  text-decoration: none;
}

html,
body,
#root {
  height: 100%;
}

.userdata-box {
  margin: 5px;
}

.userdata-box .per-childl {
  width: 140px;
  display: flex;
  justify-content: space-between;
  color: #333;
  margin: 5px 0;
}

.App {
  height: 100%;
  display: flex;
  flex-wrap: nowrap;
}

.App .page-view {
  width: 100%;
}

.App .page-view .App-header {
  width: 100%;
}

.App .page-list {
  color: #fff;
  padding: 10px;
  height: calc(100% - 40px);
}

.App .page-list .question-list {
  height: calc(100% - 50px);
  margin-bottom: 20px;
  overflow-y: auto;
}

.App .page-list .question-list .question-item {
  margin: 10px 0;
  height: 35px;
  display: flex;
  align-items: center;
  border-radius: 8px;
  padding: 0px 10px;
  cursor: pointer;
  justify-content: space-between;
}

.App .page-list .question-list .question-item:hover {
  background: #737585;
}

.App .page-list .question-list .acv-item {
  background: #737585;
}

.App .root-name {
  font-size: 16px;
  color: #fff;
  margin: 24px 0;
  padding: 0px 10px;
}

.App .user-box {
  width: 140px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.App .user-box .user-img {
  width: 34px;
  height: 34px;
  border-radius: 22px;
  border: 2px solid #fff;
  box-shadow: -4px 4px 12px #e1e1e1;
  overflow: hidden;
}

.App .user-box .user-img img {
  width: 100%;
}

.App .plugins-list {
  min-width: 240px;
  width: 240px;
  background: #202123;
  height: 100%;
}

.App .word-name {
  padding: 0 24px;
  height: 64px;
  display: flex;
  align-items: center;
  box-shadow: 0px 3px 14px #d9d9d99e;
  justify-content: space-between;
}

.App .page-view {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.App .page-view .page-content {
  margin-left: 20px;
  padding: 15px;
  overflow-y: auto;
  height: 100%;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 3s linear;
    max-width: 50px;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
